#createContact {
    display: grid;
    justify-content: right;
    align-items: center;
    margin-right: 20px;
}

section {
    margin-top: 20px;
}

dialog[open] {
    padding-top: 30px;
    padding-bottom: 20px;
    position: grid;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--color-3);
    border-radius: 10px;
    width: 500px;
    background-color: var(--color-fondo);
}

dialog[open] {
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--color-3);
    grid-template-columns: auto;
}

dialog[open] form {
    padding-top: 10px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    gap: 25px;

}

dialog[open] div {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 20px;
}

dialog[open] h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

dialog[open] #formAvatar {
    visibility: hidden;
}

dialog[open] .selectAvatar {
    margin-bottom: 20px;
}

.contactCard {
    border: 1px solid var(--color-3);
    color: var(--color-3);
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto;
}

.contactCard:hover {
    border-color: var(--color-4);
    color: var(--color-4);
}

.contactCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#contacts {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#errorMsg {
    color: var(--color-4);
    display: grid;
    justify-content: center;
    align-items: center;
}